.err{
    background-image: url("https://imgs.search.brave.com/VP47IkktzgEf8GeFnon_x5Lwc7fSj0WE-iQgP_QVpiI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAyLzI3LzMxLzA3/LzM2MF9GXzIyNzMx/MDcwNF81WDBFQ0w3/cDBkV3pvU2NPTXdX/TnBrUmdQQUU5RUpn/OS5qcGc");
    background-size: cover;
    height: 100vh;
    
}